<p id="notice"><%= notice %></p>

<h1>Listing Stages</h1>

<table class='stage'>
  <thead>
    <tr>
      <th>ステージ</th>
      <th>タイトル</th>
      <th>Bonus</th>
      <th>消費モチベ</th>
      <th>経験値</th>
      <th>/モチベ</th>
      <th>経験値×1.2</th>
      <th>×1.2/モチベ</th>
      <th>Gold</th>
      <th>/モチベ</th>
      <th>Gold×1.2</th>
      <th>×1.2/モチベ</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stages.each do |stage| %>
      <tr>
        <td class='str'>
          <% case stage.stage_name %>
          <% when 'stage_1' %>
            <%= '1-' + stage.stage_number + '-' + stage.difficulty %>
          <% when 'stage_2' %>
            <%= '2-' + stage.stage_number + '-' + stage.difficulty %>
          <% when 'stage_3' %>
            <%= '3-' + stage.stage_number + '-' + stage.difficulty %>
          <% end %>
        </td>
        <td class='str'><%= stage.title %></td>
        <td class='str'>
          <% case stage.bonus %>
          <% when 0 %>
            <%= 'なし' %>
          <% when 1 %>
            <%= '近接' %>
          <% when 2 %>
            <%= '射撃' %>
          <% when 3 %>
            <%= '魔法' %>
          <% when 4 %>
            <%= '重装' %>
          <% end %>
        </td>
        <td class='int'><%= stage.motivation %></td>
        <td class='int'><%= stage.exp %></td>
        <td class='int'><%= (stage.exp.to_f / stage.motivation).round(1) %></td>
        <td class='int'><%= (stage.exp * 1.2).to_i %></td>
        <td class='int'><B><%= (stage.exp * 1.2 / stage.motivation).round(1) %></B></td>
        <td class='int'><%= stage.money %></td>
        <td class='int'><%= (stage.money.to_f / stage.motivation).round(1) %></td>
        <td class='int'><%= (stage.money * 1.2).to_i %></td>
        <td class='int'><B><%= (stage.money * 1.2 / stage.motivation).round(1) %></B></td>
        <td class='int'><%= link_to 'Show', stage %></td>
        <td class='int'><%= link_to 'Edit', edit_stage_path(stage) %></td>
        <td class='int'><%= link_to 'Destroy', stage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stage', new_stage_path %>
